header {
	width: 100%;

	.inner {
		width: 1180px;
		height: 80px;
		margin: 0 auto;
		position: relative;

		h1 {
			position: absolute;
			left: 0;
			bottom: 0;

			a {
				font: bold 24px/80px 'arial';
				color: blue;
			}
		}
	}

	&.main {
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}
