#about {
	width: 100%;
	background: #fffcfa;
	padding: 100px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		h1 {
			font: bold 24px/1 'Raleway';
			text-transform: uppercase;
			color: #333;
			margin-bottom: 80px;
			text-align: center;
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				width: 30px;
				height: 3px;
				background: #333;
			}
		}

		.wrap {
			article {
				float: left;

				&:first-child {
					width: 780px;
					margin-right: 20px;
				}
				&:last-child {
					width: 380px;
				}

				h2 {
					font: bold 20px/1 'Raleway';
					text-transform: uppercase;
					color: #333;
					margin-bottom: 20px;
				}

				.personality {
					width: 100%;

					.con {
						width: 100%;
						margin-bottom: 10px;

						&::after {
							content: '';
							display: block;
							clear: both;
						}

						h3 {
							width: 20%;
							float: left;
							font: bold 18px/1 'Gowun Dodum';
							color: #333;
						}
						p {
							width: 80%;
							float: left;
							font: 14px/1.5 'Gowun Dodum';
							color: #333;
						}
					}
				}
				.interest {
					width: 100%;
					> ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;

						li {
							width: 100px;
							height: 100px;
							background: #ffc5bf;
							border-radius: 50%;

							.fa-film,
							.fa-plane-departure,
							.fa-book {
								font-size: 25px;
								color: #fffcfa;
								display: block;
								margin: 25px auto 0;
							}
							span {
								display: block;
								text-align: center;
								margin-top: 10px;
								font: 10px/1 'Raleway';
								color: #fffcfa;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#about {
		.inner {
			width: 100%;
			padding: 0 30px;

			.wrap {
				article {
					&:first-child {
						width: 100%;
						margin-right: 0;
						margin-bottom: 40px;
					}
					&:last-child {
						width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#about {
		.inner {
			.wrap {
				article {
					.personality {
						.con {
							h3 {
								width: 100%;
								margin-bottom: 10px;
							}
							p {
								width: 100%;
							}
						}
					}
					.interest {
						> ul {
							li {
								width: 80px;
								height: 80px;

								.fa-film,
								.fa-plane-departure,
								.fa-book {
									margin: 15px auto 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
