#contact {
	width: 100%;
	background: lightcyan;
	padding: 80px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.wrap {
			article {
				float: left;

				h1 {
					font: bold 24px/1 'arial';
					text-transform: uppercase;
					color: blue;
					margin-bottom: 20px;
				}

				&:first-child {
					width: 380px;
					margin-right: 20px;

					.pic {
						width: 200px;
						height: 200px;
						margin: 0 auto 40px;
						border-radius: 50%;
						overflow: hidden;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.contact_txt {
						width: 100%;

						&::after {
							content: '';
							display: block;
							clear: both;
						}
						.subTit {
							width: 25%;
							float: left;

							li {
								font: bold 18px/1 'arial';
								color: blue;
								margin-bottom: 10px;
							}
						}
						.txt {
							width: 75%;

							li {
								font: 18px/1 'arial';
								color: blue;
								margin-bottom: 10px;
							}
						}
					}
				}
				&:last-child {
					width: 780px;

					.wrap {
						.works_items {
							width: 49%;
							margin-right: 2%;
							float: left;

							&:last-child {
								margin-right: 0;
							}

							> span {
								display: block;
								font: 14px/1 'arial';
								color: blue;
								margin-bottom: 10px;
							}
							.pic {
								width: 100%;
								height: 238px;
								background: yellow;
								margin-bottom: 20px;
								overflow: hidden;
								cursor: pointer;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
							h2 {
								font: 24px/1 'arial';
								color: blue;
								margin-bottom: 20px;
							}

							h3 {
								font: normal 16px/1 'arial';
								color: blue;
								margin-bottom: 10px;

								span {
									font: bold 16px/1 'arial';
									color: red;
									margin-left: 5px;
									cursor: pointer;
								}
							}
							a {
								display: block;
								font: bold 16px/1 'arial';
								color: blue;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}
