#contact {
	width: 100%;
	background: #fdf6f0;
	padding: 100px 0;

	.inner {
		width: 1180px;
		margin: 0 auto;

		.wrap {
			article {
				float: left;

				h1 {
					font: bold 24px/1 'Raleway';
					text-transform: uppercase;
					color: #333;
					margin-bottom: 80px;
					text-align: center;
					position: relative;

					&::after {
						content: '';
						display: block;
						position: absolute;
						bottom: -20px;
						left: 50%;
						transform: translateX(-50%);
						width: 30px;
						height: 3px;
						background: #333;
					}
				}

				&:first-child {
					width: 280px;
					margin-right: 100px;

					.box {
						width: 100%;
						height: 240px;
						margin: 0 auto 40px;
						overflow: hidden;
						position: relative;
						background: #ffccc6;
						padding: 20px;

						h2 {
							font: 30px/1.6 'Raleway';
							color: #fdf6f0;
							text-align: center;
						}
					}
					.contact_txt {
						width: 100%;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;

						.subTit {
							width: 40%;

							li {
								font: bold 16px/1 'Raleway';
								color: #333;
								margin-bottom: 25px;
							}
						}
						.txt {
							width: 60%;

							li {
								font: 16px/1 'Raleway';
								color: #333;
								margin-bottom: 25px;
							}
						}
					}
				}
				&:last-child {
					width: 800px;

					.wrap {
						.works_items {
							width: 48%;
							margin-right: 4%;
							float: left;

							&:last-child {
								margin-right: 0;
							}

							.pic {
								width: 100%;
								height: 240px;
								margin-bottom: 40px;
								overflow: hidden;
								position: relative;
								cursor: pointer;

								img {
									width: 100%;
									height: 100%;
									object-fit: cover;
									transition: 0.3s;
								}

								&::after {
									content: 'VIEW';
									display: block;
									width: 100%;
									height: 100%;
									background: rgba(255, 154, 143, 0.5);
									position: absolute;
									top: 0;
									left: 0;
									text-align: center;
									font: 20px/240px 'Raleway';
									color: #fdf6f0;
									opacity: 0;
									transition: 0.3s;
								}

								&:hover {
									&::after {
										opacity: 1;
									}
									img {
										filter: blur(3px) grayscale(1);
										transform: scale(0.95);
									}
								}
							}
							> span {
								display: block;
								font: 12px/1 'Raleway';
								color: #888;
								margin-bottom: 20px;
							}
							h2 {
								font: bold 20px/1 'Raleway';
								color: #333;
								margin-bottom: 20px;
								position: relative;

								span {
									position: absolute;
									right: 0;
									top: 0;

									a {
										font: 14px/1 'Raleway';
										color: #333;
										cursor: pointer;

										&:hover {
											color: #d81515;
											font-weight: bold;
										}
									}
								}
							}

							h3 {
								font: normal 14px/1 'Gowun Dodum';
								color: #d81515;
								margin-bottom: 10px;

								> span {
									font: 14px/1 'Raleway';
									color: #d81515;
									margin-left: 5px;
									cursor: pointer;

									&:hover {
										font-weight: bold;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#contact {
		.inner {
			width: 100%;
			padding: 0 30px;

			.wrap {
				article {
					&:first-child {
						width: 100%;
						margin-right: 0;
						margin-bottom: 50px;

						.box {
							width: 100%;
							height: auto;
						}
					}
					&:last-child {
						width: 100%;

						.wrap {
							.works_items {
								width: 100%;
								margin-right: 0;
								margin-bottom: 50px;

								&:last-child {
									margin-bottom: 0;
								}

								.pic {
									height: auto;
								}
							}
						}
					}
				}
			}
		}
	}
}
